{% extends "base.html" %}

{% block title %}Inintoku-Blog{% endblock %}

{% block navigation_fields %}
	{% include "helpers/_navigation_fields.html" %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="container" style="margin-top: 20px;">
      <h4>Create View</h4>
      <form method="POST" action="/blog/create/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Post" />
      </form>
		</div>
	</div>
{% endblock %}
