/* Begin Global Styles */
:root {
    --main-font-color: #333333;
    --main-white: #F9F9F9;
    --main-black: #333333;
    --main-blue: #e5efff;
    --secondary-blue: #72a8ff;
    --main-green: #75ff89;
    --main-red: #ff5454;
    --secondary-red: #ff3232;
}

#app {
    font-size: 15px;
    height: 100vh;
    padding-top: 10%;
    color: var(--main-font-color);
}

.adminContainer {
    margin-top: -5%;
}

.alert-danger {
    margin-top: -10%;
    margin-bottom: 10%;
}

.no-style {
    margin-top: -10%;
}
/* End Global Styles */

/* Begin Common Styles for all sizes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--main-blue) inset !important;
}

.inintoku-center {
    text-align: center;
}

.inintoku-block {
    display: block;
}

.inintoku-color-green {
    color: var(--main-green);
}

.inintoku-color-blue {
    color: var(--secondary-blue);
}

.inintoku-color-red {
    color: var(--main-red);
}

a{
    text-decoration: none !important;
    color: var(--main-font-color);
}

.btn {
    font-size: 14px;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.inintoku-social {
    width: 10%;
    display: inline-block;
    margin-right: 2%;
}

.inintoku-sidebar-icon {
    width: 8%;
    margin-right: 4%;
}

.inintoku-face-image {
    width: 60%;
}

.inintoku-education-item, .inintoku-list-item {
    width: 100%;
    margin-bottom: 2%;
}

.inintoku-icon-section {
    float: left;
    width: 3%;
    display: inline-block;
}

.inintoku-university-listing {
    width: 77%;
    padding-left: 3%;
    border-left: 1px solid var(--main-font-color);
    display: inline-block;
}

.inintoku-education-row {
    margin-bottom: 2%;
    vertical-align: middle;
}

.inintoku-university-logo {
    float: right;
    width: 20%;
    display: inline-block;
}

.inintoku-logo-image {
    width: 90%;
}

.inintoku-back {
    width: 10%;
    padding-right: 2%;
}

hr {
    border-top: 1px solid var(--main-font-color);
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    color: #007bff;
}

.inintoku-skill-button {
    margin-right: 1%;
}

.inintoku-login-container {
    margin: 0% 40% 1% 40%;
    padding: 3%;
    width: 20%;
    border: 1px solid rgba(0,0,0,0.14);
    border-radius: 2%;
    box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.inintoku-login-image-container {
    text-align: center;
}

.inintoku-form {
    margin-top: 6%;
}

.inintoku-admin-card {
    margin: 2%;
    width: 100%;
}

.inintoku-vertical-space {
    margin-top: 5%;
    margin-bottom: 5%;
}

.inintoku-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*
--------------------------------
Admin Page Styling
--------------------------------
*/
.inintoku-admin-sidebar {
    height: 100%;
    padding: 10% 2.5% 10% 2.5%;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.inintoku-sidebar-image-container{
    text-align: center;
}

.inintoku-admin-sidebar-container {
    height: 100vh;
    padding-right: 0px;
}

.inintoku-sidebar-image {
    width: 50%;
    margin-bottom: 5%;
}

.inintoku-admin-sidebar-options {
    margin-top: 10%;
    height: 60%;
}

.inintoku-admin-sidebar-footer {
    margin-top: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.selected {
    background-color: var(--main-blue)
}

button.close {
    display: none;
}

.inintoku-admin-header {
    width: 98%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding-left: 1%;
    padding-right: 1%;
}

.inintoku-admin-body {
    width: 90%;
    height: 90%;
    padding: 5%;
}

.inintoku-admin-dashboard {
    height: 100vh;
    padding-left: 0px;
}

.inintoku-admin-entry-card {
    margin-bottom: 5%;
}

.inintoku-change-password-header-btn {
    display: none !important;
}

.inintoku-change-password-sidebar-btn {
    display: inline-block !important;
}

/* End Custom Styling */

/* Begin Responsive Design */
/* For Screen Sizes 960px and below */
@media screen and (max-width: 960px) {
    .inintoku-login-container {
        margin: 0% 30% 1% 30%;
        padding: 6%;
        width: 40%;
        border: 1px solid rgba(0,0,0,0.14);
        box-shadow: 5px 5px rgba(0,0,0,0.2);
    }

    .inintoku-login-image-container {
        text-align: center;
    }

    .inintoku-form {
        margin-top: 6%;
    }

    .inintoku-change-password-header-btn {
        display: none !important;
    }

    .inintoku-change-password-sidebar-btn {
        display: inline-block !important;
    }
}

/* For Screen Sizes 640px and below */
@media screen and (max-width: 640px) {
    #app {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .inintoku-main {
        padding-top: 5%;
    }

    .inintoku-social {
        width: 20%;
        display: inline-block;
        margin-right: 2%;
    }

    .inintoku-sidebar-icon {
        width: 15%;
        margin-right: 5%;
    }

    .inintoku-education-row {
        margin-bottom: 5%;
    }

    .inintoku-logo-image {
        width: 100%;
    }

    .inintoku-face-image {
        width: 40%;
    }

    .inintoku-university-listing {
        padding-left: 5%;
    }

    .inintoku-login-container {
        margin: 0% 15% 1% 15%;
        padding: 10%;
        width: 70%;
        border: 1px solid rgba(0,0,0,0.14);
        box-shadow: 5px 5px rgba(0,0,0,0.2);
    }

    .inintoku-login-image-container {
        text-align: center;
    }

    .inintoku-form {
        margin-top: 6%;
    }

    /*
    ------------------------------------
    Admin Page Styling [ Mobile Screen ]
    ------------------------------------
    */
    .inintoku-sidebar-image {
        width: 80%;
    }

    .inintoku-sidebar-icon {
        width: 120%;
    }

    .inintoku-hidden {
        display: none !important;
    }

    .inintoku-change-password-header-btn {
        display: inline-block !important;
    }

    .inintoku-change-password-sidebar-btn {
        display: none !important;
    }
}

@media screen and (max-width: 375px) {
    .inintoku-sidebar-icon {
        width: 180%;
    }
}
/* End Responsive Design */
