packages:
  yum:
    libcurl-devel: []

container_commands:
    01_export_configure:
        command: "cp .ebextensions/export-script.sh /opt/elasticbeanstalk/hooks/appdeploy/post/ && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/export-script.sh"
        cwd: "/opt/python/ondeck/app"
    02_export_run:
        command: "/opt/elasticbeanstalk/hooks/appdeploy/post/export-script.sh"
