{% extends "base.html" %}

{% block title %}Inintoku{% endblock %}

{% block navigation_fields %}
	{% include "helpers/_navigation_fields.html" %}
{% endblock %}

{% block content %}
	<div class="container">
		<!-- -- Actual Page Content: Begins -->
		Content for inintoku - begins here
		<!-- -- Actual Page Content: Ends -->
	</div>

	<div class="container">
		{% if user.is_authenticated %}
			<p><a href="{% url 'logout' %}">logout</a></p><br/>
		{% else %}
			<p><a href="{% url 'login' %}">login</a></p>
		{% endif %}
	</div>
{% endblock %}
